<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Fly-Expo-PVT-Limitted</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
</head>
<style>
    .swal-wishlist {
        width: 100px;
    }
</style>
{{!-- table --}}

<body>




    {{#if admin}}
    {{>admin-head}}
    {{/if}}
    {{#if user}}
    {{>user-head}}
    {{/if}}
    {{{body}}}
    {{!-- admin --}}







    <!-- JavaScript Libraries -->
    {{!--
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> --}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>



    {{!-- My own user related javascript management --}}

    {{!--
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
        </script> --}}

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="/javascripts/userManagement.js"></script>
    <script src="/javascripts/user-validation.js"></script>
    <script src="/javascripts/admin-validation.js"></script>
    <script src="/middleware//user-authentication.js"></script>

</body>

</html>