<div class="container-fluid bg-light bg-icon mb-5">
  <div class="container">
    <div class='row row-mai  d-flex justify-content-center mt-0 align-items-center h-100'>
      <div class='col col-lg-12 mt-3 mb-5 mb-lg-0'>
        <div class='card mb-3' style='border-radius: .5rem;padding: 40px 38px;border-radius: 0px;'>
          <div class='row g-0'>
            <form action="/add-address" method="post">
              <div class='col-md-12'>
                <div class='card-body pl-2'>
                  <h6>Add Address</h6>
                  <hr class='mt-0 mb-4' />
                  <div class='row pt-1'>
                    <div class='col-6 mb-3'>
                      <h6>Full Name</h6>
                      <input type="text" name="name" id="name" onkeyup="validateName()">
                      <span id="name-error" class="text-danger font-weight-bold"></span>
                    </div>
                    <div class='col-6 mb-3'>
                      <h6>Mobile Number</h6>
                      <input type="number" name="mobile_number" onkeyup="validatePhone()" id="phone">
                      <span id="phone-error" class="text-danger font-weight-bold"></span>
                    </div>
                    <div class='col-6 mb-3'>
                      <h6>Pin Code</h6>
                      <input type="text" name="pincode" id="pincode" onkeyup="validatePincode()">
                      <span id="pin-error" class="text-danger font-weight-bold"></span>
                    </div>
                    <div class='col-6 mb-3'>
                      <h6>Area, Street, Sector, Village</h6>
                      <input type="text" name="street" id="street" onkeyup="validateStreet()">
                      <span id="street-error" class="text-danger font-weight-bold"></span>
                    </div>
                    <div class='col-6 mb-3'>
                      <h6>Landmark</h6>
                      <input type="text" name="landmark" id="landmark" onkeyup="validateLandmark()">
                      <span id="landmark-error" class="text-danger font-weight-bold"></span>
                    </div>
                    <div class='col-6 mb-3'>
                      <h6>Town/City</h6>
                      <input type="text" name="city" id="city" onkeyup="validateCity()">
                      <span id="city-error" class="text-danger font-weight-bold"></span>
                    </div>
                    <div class='col-6 mb-3'>
                      <h6>Country</h6>
                      <input type="text" name="country" id="country" onkeyup="validateCountry()">
                      <span id="country-error" class="text-danger font-weight-bold"></span>
                    </div>
                    <div class='col-6 mb-3'>
                      <h6>State</h6>
                      <input type="text" name="state" id="state" onkeyup="validateState()">
                      <span id="state-error" class="text-danger font-weight-bold"></span>
                      <p class="text-danger " id="usernotfound" style="font-size: 13px;"></p>

                    </div>
                  </div>
                </div>
              </div>
              <div class='col-lg-12 mb-3 '>
                <div class="text-end pe-5">
                  <button type="submit" onclick="return validateaddressForm()">add</button>
                  <span id="submit-error-address" class="text-danger font-weight-bold"></span>
                </div>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Footer -->
<footer class="text-center text-lg-start text-white" style="background-color: #000000">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 text-white font-weight-bold">
            Company name
          </h6>
          <p>
          </p>
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none" />

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold text-white">Products</h6>
          <p>
            <a class="text-white">MDBootstrap</a>
          </p>
          <p>
            <a class="text-white">MDWordPress</a>
          </p>
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none" />

        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none" />

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold text-white">Contact</h6>
          <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
          <p><i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
          <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
          <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->



      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

</footer>
<!-- Footer -->
</div>
<!-- End of .container -->
</div>
</div>
<!-- Footer End -->